alabaster==0.7.12
ApiDoc==1.4.0
appdirs==1.4.3
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.6.0
black==19.3b0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
coverage==4.5.3
coverage-badge==1.0.1
docutils==0.14
Flask==1.0.2
geographiclib==1.49
geopy==1.19.0
idna==2.8
imagesize==1.1.0
isort==4.3.18
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==2.4.0
lazy-object-proxy==1.4.0
Mako==1.0.10
Markdown==2.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
mongomock==3.16.0
more-itertools==7.0.0
packaging==19.0
pdoc==0.3.2
pluggy==0.11.0
py==1.8.0
Pygments==2.4.0
pylint==2.3.1
pymongo==3.8.0
pyparsing==2.4.0
pytest==4.4.2
pytest-cov==2.7.1
pytz==2019.1
PyYAML==5.1
requests==2.21.0
sentinels==1.0.0
six==1.12.0
snowballstemmer==1.2.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
toml==0.10.0
typed-ast==1.3.5
urllib3==1.24.3
Werkzeug==0.15.3
wrapt==1.11.1
